
<div class="container-fluid">
    <nav>
        <p>
            <a href="#ir_verMesas"><input  class = "boton1 resaltador" type = "button" value = "VerMesas"> </a>
            <a href="#ir_agregarMesa"><input  class = "boton1 resaltador" type = "button" value = "AgregarMesa"> </a>
            <a href="#ir_cobrar"><input  class = "boton1 resaltador" type = "button" value = "Ver - Cobrar"></a>
            <a href="#ir_agregarProducto"> <input class = "boton1 resaltador" type = "button" value = "agregarProducto"> </a>
            <a href="#ir_modificarMesa"><input  class = "boton1 resaltador" type = "button" value = "modificarMesa"></a>
        </p>
    </nav>    
</div>


hola estoy en el inicio