
<div class="container-fluid">
    <nav>
        <p>
            <a href="#ir_agregarMesa"><input  class = "boton1 resaltador" type = "button" value = "AgregarMesa"> </a>
            <a href="#ir_agregarProducto"> <input class = "boton1 resaltador" type = "button" value = "agregarProducto"> </a>
            <a href="#Ver_cobrar"><input  class = "boton1 resaltador" type = "button" value = "Ver - Cobrar"></a>
            <a href="#ir_modificarMesa"><input  class = "boton1 resaltador" type = "button" value = "modificarMesa"></a>
        </p>
    </nav>
</div>


<button class=" btn btn-dark btn-lg" (click)="vermesass()"> ACTUALIZAR </button>


<div class = "recuadro_principal container" id = "ir_agregarMesa">
    <h1>Abrir una nueva mesa </h1>
    <p> <button (click) = "verOcutarFormulario()"  class="btn btn-dark"> {{verOcultar}} </button> </p>
    <div *ngIf="verForm">
        <form [formGroup] = "mesaform">
            <p>Numero de mesa: <input type="number" formControlName = "numeroMesa" placeholder="Numero de la mesa" > </p>            
            <div class="small"> Las mesas abiertas son: ( <label *ngFor="let mesa of mesas, let i = index"> {{mesa.numero_mesa}} | </label> ) </div>            
            <p> <label> Productos </label> </p>
            <select formControlName = "productoId" class = "small container-fluid" >
                    <option *ngFor = "let producto of productos" value={{producto.id}} placeholder="Seleccione un producto"> 
                        {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}}
                    </option> 
            </select>
            <button (click)="agregarProductoALista()" [disabled]="!mesaform.controls['productoId'].touched" class="btn btn-dark btn-sm" >Agregar Producto </button>
            
            <div class="recuadro_secundario small">
                <h5>Lista De Productos: </h5>
                <ul *ngFor="let producto of lista">
                    <li> 
                        {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}} 
                        <button value="{{producto.id}}" (click) = "eliminarProductoDeLista($event)"  class="btn btn-dark btn-sm"> Eliminar Producto </button>
                    </li>
                </ul>
            </div>
            <p>
                <input type="text" class = "input-group input-group-lg" placeholder="Detalle de la mesa" formControlName = "detalleMesa">
            </p>
        </form>
            <p> <input type = "button" (click)="abrirNuevaMesa()" value = "Agregar Mesa Nueva" [disabled]="!mesaform.valid"  class="btn btn-dark btn-lg"> </p>
    </div>
</div>


<div class = "recuadro_principal container" id = "ir_agregarProducto">
    <h1>Agregar productos a una mesa </h1>
    <p> <button (click) = "verOcutarFormulario2()"  class="btn btn-dark"> {{verOcultar2}} </button> </p>
        <div *ngIf="verForm2" > 
            <form [formGroup] = "mesaform"> 
                <p> Seleccione una mesa: </p>
                <select [formControl] = "numeroMesa" (change)="seleccionarMesa()">      
                    <option *ngFor = "let mesa of mesas" value={{mesa.numero_mesa}}> 
                        Numero de la mesa "{{mesa.numero_mesa}}"           
                    </option>
                </select>
                <div *ngIf = "numeroMesa.touched">
                    <p> <label> Productos </label> </p>
                    <select formControlName = "productoId" class = "small container-fluid" >
                            <option *ngFor = "let producto of productos" value={{producto.id}} > 
                                {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}}
                            </option> 
                    </select>
            
                    <button (click)="agregarProductoALista()" [disabled]="!mesaform.controls['productoId'].touched" class="btn btn-dark btn-sm" >Agregar Producto </button>
                    <div class="recuadro_secundario small">
                        <h5>Lista De Productos: </h5>
                        <ul *ngFor="let producto of lista">
                            <li> 
                                {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}} 
                                <button value="{{producto.id}}" (click) = "eliminarProductoDeLista($event)"  class="btn btn-dark btn-sm"> Eliminar Producto </button>
                            </li>
                        </ul>
                    </div>
                    <button (click)="actulaizarMesa()" [disabled]="!numeroMesa.touched" class="btn btn-dark btn-sm"> Actualizar Mesa </button>
        
                </div>
        
            </form>
        </div>
</div>


<div class = "recuadro_principal container" id = "Ver_cobrar">
    <h1>Ver una Mesa / Cobrar Mesa</h1>
    <p> <button (click) = "verOcutarFormulario3()"  class="btn btn-dark"> {{verOcultar3}} </button> </p>
    <div *ngIf="verOcultar3 == 'Ocultar' "> 
        <p> Seleccione una mesa: </p>
        <select [formControl] = "numeroMesa" >      
            <option *ngFor = "let mesa of mesas" value={{mesa.numero_mesa}}> 
                Numero de la mesa "{{mesa.numero_mesa}}"           
            </option>
        </select>
        <button (click)="verUnaMesa()" [disabled]="!numeroMesa.touched" class="btn btn-dark btn-sm"> Ver/Ocultar Mesa </button>

        <div class="recuadro_secundario" *ngIf="verUnaMesaBool" >
            <h6> Mesa numero: {{this.mesa1.numero_mesa}} </h6>
            <div class="recuadro_secundario small">
                <p> Lista de Productos: </p>
                <ul *ngFor = "let producto of mesa1.listaProductos">
                    <button value="{{producto.id}}" (click)="cobrarProducto($event)" class="btn btn-dark btn-sm"> CobrarProducto </button> 
                    Numero de producto: {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}}
                </ul>
            </div>
            <div class="recuadro_secundario small">
                <p> Lista de Productos Cobrados: </p>
                <ul *ngFor = "let producto of mesas[numero].listaProductosCobrados"> 
                    <button value="{{producto.id}}" (click)="deshacerCambioCobrarProducto($event)" class="btn btn-dark btn-sm"> Deshacer cambio </button> 
                    Numero de producto: {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}}
                </ul>
            </div>
            <p> Detalle: {{this.mesa1.detalle}} </p>
            <ul>
                Precio Total de la mesa = {{mesa1.precio_total}}        
            </ul>
            <ul>
                Ya abonado de la mesa = {{mesa1.precio_temporal}}        
            </ul>
            <ul>
                Resta abonar total de la mesa = {{mesa1.precio_total - mesa1.precio_temporal}}
            </ul>
        </div>
        <p> <button (click)="cerrarMesa()" [disabled]="verUnaMesaBool == false"> Cobrar y Cerrar una mesa </button> </p>
    </div>

</div>