
<div class="container-fluid">
    <nav>
        <p>
            <a href="#ir_verMesas"><input  class = "boton1 resaltador" type = "button" value = "VerMesas"> </a>
            <a href="#ir_agregarMesa"><input  class = "boton1 resaltador" type = "button" value = "AgregarMesa"> </a>
            <a href="#ir_cobrar"><input  class = "boton1 resaltador" type = "button" value = "Ver - Cobrar"></a>
            <a href="#ir_agregarProducto"> <input class = "boton1 resaltador" type = "button" value = "agregarProducto"> </a>
            <a href="#ir_modificarMesa"><input  class = "boton1 resaltador" type = "button" value = "modificarMesa"></a>
        </p>
    </nav>    
</div>




<!-- 
<div class = "recuadro_principal container-fluid">
    <form [formGroup] = "agregarMesaNueva" (submit) = "enviarNuevaMesa()">
       <h1> Agregar Producto A la Bases de Datos</h1>    
       <span class="badge bg-warning text-dark" *ngIf="agregarMesaNueva.invalid"> Todos los campos son obligatorios </span>
        <p>Numero de mesa: <input type="number" placeholder="numero del producto" formControlName="numeroProducto" /></p>
        <p>Detalle: <input type="text" placeholder="nombre del producto" formControlName = "nombre" /></p>
        <p><input type="submit" value="Enviar Producto" [disabled] = "agregarMesaNueva.invalid"/></p>            
    </form>
</div>
-->





<!-- 
<h1>
    SEGUNDO INGRESAR MESA
</h1>
<h2 id = "ir_agregarMesa"> Agregar Una nueva Mesa </h2>
<div class="container-fluid recuadro_principal">
    <h4>Mesa:</h4>
    <p>Numero de mesa: <input type="number" [formControl] = "numeroMesa" placeholder="Numero de la mesa" class="form-inline"> </p>   
        <p class = "small "> NO SE PUEDE INGRESAR UN NUMERO DE MESA QUE YA EXISTA</p>
        <p>Fecha de la mesa <input type = "datetime-local" [formControl] = "fecha1Mesa" placeholder="Fecha de la mesa" ></p>    
        <h4> Productos: </h4>
        <select [formControl] = "numeroDeProducto" class = "small container-fluid" >
            <option *ngFor = "let producto of productos" value={{producto.numeroProducto}}> 
                {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}}
            </option>
        </select>
    <input type = "button" value = "Agregar Producto" (click) = "listaProductos = AgregarProductoaLaListaDeProductos(listaProductos)">
    <div class="recuadro_secundario">
        <h6> Lista de Productos:</h6>
        <label *ngFor=" let producto of listaProductos">
            <ul>
                <li>
                    <p>
                        <button value="{{producto.id}}" (click)="listaProductos = eliminarProductoListaProducto(listaProductos, $event)"> Eliminar </button>
                        Numero de producto: {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}}     
                    </p>
                </li>
            </ul>
        </label>
    </div>
    <p>
        <input type="text" class = "casilleroDetalle" placeholder="Detalle de la mesa" [formControl] = "detalleMesa">
    </p>
    <p> <input type = "button" value = "Enviar" (click) = "enviarAlServidorNuevaMesa()"> </p>
</div>
-->







<div class = "recuadro_principal container">
    <h1>Abrir una nueva mesa </h1>
    <p> <button (click) = "VerOcutarFormulario()"  class="btn btn-dark"> Ver/Ocultar </button> </p>
    <div *ngIf="verForm">
        <form [formGroup] = "agregarMesaNueva">
            
            <p>Numero de mesa: <input type="number" formControlName = "numeroMesa" placeholder="Numero de la mesa" > </p>
            <!-- <p class = "error" *ngIf="agregarMesaNueva.controls.numeroMesa.errors && agregarMesaNueva.controls.numeroMesa.touched"> Ingrese un numero de mesa mayor o igual a cero. Y asegurese que la mesa no esté abierta </p> -->
            
            
            <div class="small"> Las mesas abiertas son: ( <label *ngFor="let mesa of mesas, let i = index"> {{mesa.numero_mesa}} | </label> ) </div>
            <p>Fecha de la mesa <input type = "datetime-local" formControlName = "fecha1Mesa"> </p>
            <p class = "error" *ngIf="agregarMesaNueva.controls['fecha1Mesa'].errors && agregarMesaNueva.controls['fecha1Mesa'].touched"> Este campo es obligatorio por favor complete la fecha </p>
            <p> <label> Productos </label> </p>
            <select formControlName = "productoId" class = "small container-fluid" >
                    <option *ngFor = "let producto of productos" value={{producto.id}} placeholder="Seleccione un producto"> 
                        {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}}
                    </option> 
            </select>
        
            <button (click)="AgregarProductoALista()" [disabled]="!agregarMesaNueva.controls['productoId'].touched" class="btn btn-dark btn-sm" >Agregar Producto </button>
            <div class="recuadro_secundario small">
                <h5>Lista De Productos: </h5>
                <ul *ngFor="let producto of lista">
                    <li> 
                        {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}} 
                        <button value="{{producto.id}}" (click) = "eliminarProductoDeLista($event)"  class="btn btn-dark btn-sm"> Eliminar Producto </button>
                    </li>
                </ul>
            </div>
            <p>
                <input type="text" class = "input-group input-group-lg" placeholder="Detalle de la mesa" formControlName = "detalleMesa">
            </p>
        </form>
            <p> <input type = "button" (click)="abrirNuevaMesa()" value = "Agregar Mesa Nueva" [disabled]="!agregarMesaNueva.valid"  class="btn btn-dark btn-lg"> </p>
    </div>
</div>

<button class=" btn btn-dark btn-lg" (click)="vermesass()"> VER MESAS </button>




<div>-------------------------------------------------------------    --------------------------------------------------------------------------------------------------------------------------    -------------------------------------------------------------</div>
<div>-------------------------------------------------------------    --------------------------------------------------------------------------------------------------------------------------    -------------------------------------------------------------</div>
<div>-------------------------------------------------------------    --------------------------------------------------------------------------------------------------------------------------    -------------------------------------------------------------</div>

<h2> Ver o cerrar Mesa </h2>

<div>-------------------------------------------------------------    --------------------------------------------------------------------------------------------------------------------------    -------------------------------------------------------------</div>
<div>-------------------------------------------------------------    --------------------------------------------------------------------------------------------------------------------------    -------------------------------------------------------------</div>
<div>-------------------------------------------------------------    --------------------------------------------------------------------------------------------------------------------------    -------------------------------------------------------------</div>






<div class = "recuadro_principal container">
    <h1>Cobrar un producto o una Mesa</h1>
    <select [formControl] = "numeroMesa" >      
        <option *ngFor = "let mesa of mesas" value={{mesa.numero_mesa}}> 
            Numero de la mesa "{{mesa.numero_mesa}}"           
        </option>
    </select>
    <button (click)="verUnaMesa()"> Ver/Ocultar Mesa </button>

    <div class="recuadro_secundario" *ngIf="verUnaMesaBool" >
     
        <div class="recuadro_secundario small">
            <p> Lista de Productos: </p>
            <ul *ngFor = "let producto of mesa1.listaProductos">
                <button value="{{producto.id}}" (click)="cobrarProducto($event)" [disabled]="producto.cobrado === true"> CobrarProducto </button>
                <button value="{{producto.id}}" (click)="deshacerCambioCobrarProducto($event)" [disabled]="producto.cobrado === false"> Deshacer cambio </button>
                Numero de producto: {{producto.numeroProducto}} | {{producto.nombre}} | ${{producto.precio}} ||||  {{producto.cobrado}} ||||| <label class="verde" *ngIf="producto.cobrado===true"> COBRADO </label>              
            </ul>
        </div>
        <ul>
            Precio Total de la mesa = {{mesa1.precio_total}}        
        </ul>
        <ul>
            Ya abonado de la mesa = {{mesa1.precio_temporal}}        
        </ul>
        <ul>
            Resta abonar total de la mesa = {{mesa1.precio_total - mesa1.precio_temporal}}
        </ul>
    </div>
    <p> <button (click)="actualizarMesaModificada()" [disabled]="verUnaMesaBool == false"> Cobrar y Cerrar una mesa </button> </p>
</div>


<div>-------------------------------------------------------------    --------------------------------------------------------------------------------------------------------------------------    -------------------------------------------------------------</div>
<div>-------------------------------------------------------------    --------------------------------------------------------------------------------------------------------------------------    -------------------------------------------------------------</div>
<div>-------------------------------------------------------------    --------------------------------------------------------------------------------------------------------------------------    -------------------------------------------------------------</div>
