<div class="container-fluid">
    <nav>
        <p>
            
            <a routerLink="/listaProductos" target="_blank"> <input class = "boton1 resaltador" value = "Ver Lista de Productos">  </a>
            <a href="#agregarunproductobasededatos"><input  class = "boton1 resaltador" type = "button" value = "Agregar una Producto"> </a>
            <a routerLink="/modificarListaProductos" target="_blank"> <input class = "boton1 resaltador" value = "Modificar Lista de Productos">  </a>
            
        </p>
    </nav>
</div>


<div class = "recuadro_principal container-fluid">
    <h1> Ver lista de Productos </h1>
    <a   class = "btn btn-dark" routerLink="/listaProductos" target="_blank" > Ver Lista Productos </a>
</div>




  <div class = "recuadro_principal container-fluid" id="#agregarunproductobasededatos">
    <form [formGroup] = "agregarProducto" (submit) = "enviarProducto()">
       <h1> Agregar Producto A la Bases de Datos</h1>    
       <span class="badge bg-warning text-dark" *ngIf="agregarProducto.invalid"> Todos los campos son obligatorios </span>
        <p>Numero de producto: <input type="number" placeholder="numero del producto" formControlName="numeroProducto" /></p>
        <p>Nombre: <input type="text" placeholder="nombre del producto" formControlName = "nombre" /></p>
        <p>Precio: <input type="number" placeholder="precio del producto" formControlName = "precio" /></p>
        <p><button (click)="enviarProducto()" [disabled] = "!agregarProducto.valid" class = "btn btn-dark">Enviar Producto </button> </p>

    </form>
</div>

<div class = "recuadro_principal container-fluid" id = "ir_ModificarUnProducto">
    <h1>
        Modificar lista de Productos 
    </h1>
    <a   class = "btn btn-dark" routerLink="/modificarListaProductos" target="_blank" > Modificar Lista Productos </a>
</div>





























<!-- 

<h1>
    Modificar lista de Productos 
</h1>
<h2>
    <span class="blue"> &lt; </span>Table<span class="blue">  &gt; </span>  <span class="yellow"> Lista de Productos  </span> </h2>
    <h2>Created by <a href="https://github.com/pablorgarcia" target="_blank">Leandro Giovacchini</a></h2>




    
    <table class="container">
        <thead>
            <tr>
                <th><h1>Numero De Producto</h1></th>
                <th><h1>Nombre</h1></th>
                <th><h1>Precio</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Google</td>
                <td>9518</td>
                <td>6369</td>
                <td>01:32:50</td>
            </tr>
            <tr>
                <td>Twitter</td>
                <td>7326</td>
                <td>10437</td>
                <td>00:51:22</td>
            </tr>
            <tr>
                <td>Amazon</td>
                <td>4162</td>
                <td>5327</td>
                <td>00:24:34</td>
            </tr>
        <tr>
                <td>LinkedIn</td>
                <td>3654</td>
                <td>2961</td>
                <td>00:12:10</td>
            </tr>
        <tr>
                <td>CodePen</td>
                <td>2002</td>
                <td>4135</td>
                <td>00:46:19</td>
            </tr>
        <tr>
                <td>GitHub</td>
                <td>4623</td>
                <td>3486</td>
                <td>00:31:52</td>
            </tr>
        </tbody>
    </table>











    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------




<div class="container-fluid"> 
    <h1>
        Modificar lista de Productos 
    </h1>
    <h2>
        <span class="blue"> &lt; </span>Table<span class="blue">  &gt; </span>  <span class="yellow"> Lista de Productos  </span> </h2>
        <h2>Created by <a href="https://github.com/pablorgarcia" target="_blank">Leandro Giovacchini</a></h2>

        <table class="container">
            <thead>
                <tr>
                    <th><h1>Numero De Producto</h1></th>
                    <th><h1>Nombre</h1></th>
                    <th><h1>Precio</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{producto.numeroProducto}}</td>
                    <td>{{producto.nombre}}</td>
                    <td> $ {{producto.precio}}</td>
                </tr>
            </tbody>
        </table>
</div>






-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------





















<div class="container-fluid"> 
    <p> <button (click) = "VerListaProducto()" class = "btn btn-dark">Ver lista de productos </button> </p>
    <label *ngIf = "verListaProductos">
       <table class="table table-dark">
           <thead>
           <tr>
               <td> Numero de Producto </td>
               <td> Nombre </td> 
               <td> Precio</td>
           </tr>
           </thead>
           <tbody>          
            <tr class="table-active" *ngFor="let producto of productos">           
                <th scope="row"> {{producto.numeroProducto}} </th>
                <td colspan="2" class="table-active">  {{producto.nombre}} </td>
                <td> $ {{producto.precio}} </td>
            </tr>
           </tbody>
         </table>

    </label>
</div>




-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

















<div class="container-fluid"> 
    <h1>
        Modificar lista de Productos 
    </h1>

    <p> <button (click) = "VerListaProducto()" class = "btn btn-dark">Ver lista de productos <a  routerLink="/verListaProductos" target="_blank"> </a>
    </button> </p>
    <label *ngIf = "verListaProductos">
        <div class="container-fluid"> 
            <h2>
                <span class="blue"> &lt; </span>Table<span class="blue">  &gt; </span>  <span class="yellow"> Lista de Productos  </span> </h2>
                <h2>Created by <a href="https://github.com/pablorgarcia" target="_blank">Leandro Giovacchini</a></h2>
        
                <table class="container">
                    <thead>
                        <tr>
                            <th><h1>Numero De Producto</h1></th>
                            <th><h1>Nombre</h1></th>
                            <th><h1>Precio</h1></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos">
                            <td>{{producto.numeroProducto}}</td>
                            <td>{{producto.nombre}}</td>
                            <td> $ {{producto.precio}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </label>
</div>


-->

