.boton1 {   /* Botones del menu (Menu, Carta, Tragos, Quienes Somos, Contactenos) */
    /*    font-family: "Satisfy", cursive; */
        font-size: 15px;
    /*    font-style: oblique;*/
        font-stretch: extra-expanded;
        color: rgb(255, 255, 255); /* color de la letra*/
        background-color: #2e2c2c; /*FONDO*/
    
        border-color:#2e2c2c;
        /*    border: none;*/
        margin-left: 5px;
        margin-right: 5px;
    }
    
    
    
    .resaltador:hover{
        border-bottom-color: red;
    }

    .recuadro_principal{
        /*  font-family: 'Courier New', Courier, monospace; */
          border: 8px solid #053b62;
          width: auto;
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 20px; 
          align-items: center;
      }
      
      
      .recuadro_secundario{
      /*    font-family: 'Courier New', Courier, monospace; */
          border: 3px solid #053b62;
          width: auto;
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 20px; 
          align-items: center;
      }