<div class=" display-1 text-center fst-italic">
  <h1> La Corte Café </h1>

</div>

<header>
  <div class="navWrapper " id="home">

      <div class=" clearfix">
          <h2 class="companyName" routerLink="/home" >Menu: </h2>
          <nav class="mainNav clearfix">
              <ul>
                  <li><a class="smoothScroll" routerLink="/home">Inicio</a></li>
                  <li><a class="smoothScroll" routerLink="/productos" >Productos</a></li>
                  <li><a class="smoothScroll" routerLink="/resumenes" target="_blank" >Resumenes</a></li>
                  <li><a class="smoothScroll" href="https://web.whatsapp.com/" target="_blank">WhastsApp</a></li>
              </ul>
          </nav>
      </div><!-- end .innerWrapper -->
  </div><!-- end of .navWrapper -->

<!-- 
  <section class="hero">
      <div class="innerWrapper">
          <h1>May I Have Your Attention, Please!</h1>
          <h3>I'm a tagline, What's up? </h3>
      </div>
  </section>
</header>
-->
<router-outlet></router-outlet>











<!-- 
  ORIGINAL COMO ESTABA ANTES 
<div>
  <h1 class = "display-1 text-center fst-italic">  La Corte Café   </h1>
  <div class="recuadro_principal">
      <h4>
          <nav class="navbar background-color: 2e2c2c fw-bolder"> 
              <a class=" fst text-primary" routerLink="/home">Menu: </a>
              <a class="" routerLink="/home">Inicio</a>
              <a class="" routerLink="/productos" >Productos</a>
              <a class="" routerLink="/resumenes" target="_blank" >Resumenes</a>
              <a class="" href="https://web.whatsapp.com/" target="_blank" >WhastsApp </a>
            </nav>
      </h4>
  </div>
</div>








































    OTRO EJEMLO DE NAV BAR, NO ES EL ORIGINAL
<div>
  <h1 class = "display-1 text-center fst-italic">  La Corte Café   </h1>
  <h4>
      <nav class="navbar background-color: 2e2c2c fw-bolder">
          <a class="display-6 fst-italic text-primary" routerLink="/home">Inicio</a>
          <a class="display-6 text-center fst-italic" routerLink="/productos" >Productos</a>
          <a class="display-6 text-center fst-italic" routerLink="/home" target="_blank" >Resumenes</a>
          <a class="display-6 text-center fst-italic" href="https://web.whatsapp.com/" target="_blank" >WhastsApp </a>
      </nav>
  </h4>
</div>
<router-outlet></router-outlet>



--> 