<div>
  <h1 class = "display-1 text-center fst-italic">  La Corte Café   </h1>
  <h4>
      <nav class="navbar background-color: 2e2c2c fw-bolder">
          <a class="display-6 fst-italic text-primary" routerLink="/home">Inicio</a>
          <a class="display-6 text-center fst-italic" routerLink="/productos" >Productos</a>
          <a class="display-6 text-center fst-italic" routerLink="/home" target="_blank" >Resumenes</a>
          <a class="display-6 text-center fst-italic" href="https://web.whatsapp.com/" target="_blank" >WhastsApp </a>
      </nav>
  </h4>
</div>
<router-outlet></router-outlet>