.recuadro_principal{
    /*  font-family: 'Courier New', Courier, monospace; */
      border: 8px solid #053b62;
      width: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px; 
      align-items:flex-start;
  }