<!-- 

    LOGIN

<div>
    <h1> Resumenes </h1>
    <input type="datetime-local" value="Ingresar Fecha 1 "> 
    <input type="datetime-local" value="Ingresar Fecha 2 "> 
</div>

<div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>
  </div>
-->

-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------

<div class = "recuadro_principal container">
    <h1> Pedir resumenes por Fechas </h1>

        <form [formGroup] = "resumenesForm">       
            <p> <input type="datetime-local" formControlName = "fecha1"  class="form-control" aria-label="Small" > </p>
            <p> <input type="datetime-local" formControlName = "fecha2"  class="form-control" aria-label="Small" > </p>
            <button (click)="pedirResumenes()" [disabled]="!resumenesForm.controls['fecha1'].touched && !resumenesForm.controls['fecha2'].touched " class="btn btn-dark btn-lg"> Pedir Resumen </button>
        </form>
</div>