.cuadrado {
    width: 50px;           /* Ancho de 150 píxeles */
    height: 50px;          /* Alto de 150 píxeles */
    background: red;        /* Fondo de color rojo */
    border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
  }